@model InternetApplicationProject.Models.Projects
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/CustomerLayout/_CustomerHomePageLayout.cshtml";
}

@using (Html.BeginForm("AddProduct", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <br />
    @Html.DisplayNameFor(project => project.project_Name)
    <div class="form-group row" style="width:80%;margin-left: 50px;">
        <div class="col-sm-10">
            @Html.EditorFor(project => project.project_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Name" } })
            @Html.ValidationMessageFor(project => project.project_Name)
        </div>
    </div><br />
    @Html.DisplayNameFor(project => project.description)
    <div class="form-group row" style="width:80%;margin-left: 50px;">
        <div class="col-sm-10">
            @Html.EditorFor(project => project.description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Description " } })
            @Html.ValidationMessageFor(project => project.description)
        </div>
    </div><br />

    <div class="form-group row" style="width:80%;margin-left: 50px;">
        <div class="col-sm-10">
            <label>Upload Your Photo</label>
            <input type="file" name="ImageFile" required />
        </div>
    </div>

    <input type="submit" class="btn btn-primary mb-2" style="padding:15px; background-color: #007bff;border-radius:5%;margin-left:400px;" value="Add Product" />
    <button class="btn btn-primary mb-2" style="background-color: #dc3545!important;;border-radius:5%">Cancele</button>
}

