@model InternetApplicationProject.Models.Projects
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/CustomerLayout/_CustomerHomePageLayout.cshtml";
}

@using (Html.BeginForm("UpdateProduct", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.DisplayNameFor(project => project.project_Name)
    <div class="form-group row" style="width:80%;margin-left: 50px;">
        <div class="col-sm-10">
            @Html.EditorFor(project => project.project_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Name" } })
            @Html.ValidationMessageFor(project => project.project_Name)
        </div>
    </div><br />
    @Html.DisplayNameFor(project => project.description)
    <div class="form-group row" style="width:80%;margin-left: 50px;">
        <div class="col-sm-10">
            @Html.EditorFor(project => project.description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Description " } })
            @Html.ValidationMessageFor(project => project.description)
        </div>
    </div><br />
        <h4>Change Product picture</h4>
        <div class="form-group row" style="width:80%;margin-left: 50px;">
            <div class="col-sm-10">
                <a href="index.html"><img src="@Url.Content(Model.PhotoPath)" style="width: 150px;height: 150px;" /></a>
            </div>
            <div class="form-group">
                <label>Upload Your Photo</label>
                <input type="file" name="ImageFile" required />
            </div>
        </div>
    <input type="submit" class="btn btn-primary mb-2" style="padding:15px; background-color: #007bff;border-radius:5%;margin-left:400px;" value="Update" />
    <button class="btn btn-primary mb-2" style="background-color: #dc3545!important;border-radius:5%">Cancele</button>
}



