@model IEnumerable<InternetApplicationProject.Models.OnProgress>
@{
    ViewBag.Title = "OnProgress";
    Layout = "~/Views/Shared/Home/__HomeLayout.cshtml";
}


<!--=========== BEGIN OUR COURSES SECTION ================-->
<section id="ourCourses">
    <div class="container">
        <!-- Our courses titile -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="title_area">
                    <h2 class="title_two">UnAssigned Project</h2>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- End Our courses titile -->
        <!-- Start Our courses content -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ourCourse_content">
                    <ul class="course_nav">
                        @foreach (var item in Model)
                        {
                        <li>
                            <div class="single_course">
                                <div class="singCourse_imgarea">
                                    <img src="@Url.Content(item.PhotoPath)" style="width:300px;height:300px" />
                                    <div class="mask">
                                        <a href="#" class="course_more">View Project</a>
                                    </div>
                                </div>
                                <div class="singCourse_content">
                                    <h3 class="singCourse_title"><a href="#">@Html.DisplayFor(p => item.project_Name)</a></h3>
                                    <p class="singCourse_price"><span>$@Html.DisplayFor(p => item.Price)</span> Per One Month</p>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                </div>
                                <div class="singCourse_author">
                                    <img src="@Url.Content(item.PhotoPath)" alt="img">
                                    <p>Richard Remus, Teacher</p>
                                </div>
                                <button class="btn btn-outline-danger" type="button" id="dropdownMenuButton" style="width:100%;padding:15px">
                                    <a href="/OurHome/AssignProject/@item.Id"> Assign Project</a>
                                </button>
                                @if (ViewBag.rolcheck == 1)
                                {
                                    <p style="color:green">@ViewBag.sussefullyAssigned</p>
                                }
                                else
                                {
                                    <p style = "color:red" > @ViewBag.role</p>
                                }
                        
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Our courses content -->
    </div>
</section>
<!--=========== END OUR COURSES SECTION ================-->
