@model InternetApplicationProject.Models.OurUsers

@{
    ViewBag.Title = "updateInfo";
    Layout = "~/Views/Shared/TreaneeLayout/_TreaneeLayout.cshtml";
}

<div class="container__child signup__form" style="text-align:center">
    @using (Html.BeginForm())
    {
        <br />
        <h3 style="margin-left:-15%">Update Your Personal Information</h3>
        <br />
        <div class="form-group" style="width:50%;margin-left:17%">
            <!--<input class="form-control" type="text" name="username" id="username" placeholder="james.bond" required />-->
            @Html.EditorFor(user => user.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
            @Html.ValidationMessageFor(user => user.FirstName)
        </div>
        <div class="form-group" style="width:50%;margin-left:17%">
            <!--<input class="form-control" type="text" name="username" id="username" placeholder="james.bond" required />-->
            @Html.EditorFor(user => user.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
            @Html.ValidationMessageFor(user => user.LastName)
        </div>
        <div class="form-group" style="width:50%;margin-left:17%">
            <!--<input class="form-control" type="text" name="email" id="email" placeholder="james.bond@spectre.com" required />-->
            @Html.EditorFor(user => user.UserEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your E-mail" } })
            @Html.ValidationMessageFor(user => user.UserEmail)
        </div>
        <div class="form-group" style="width:50%;margin-left:17%">
            @Html.EditorFor(user => user.UserPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Password" } })
            @Html.ValidationMessageFor(user => user.UserPassword)
        </div>
        <div class="form-group" style="width:50%;margin-left:17%">
            @Html.EditorFor(user => user.confirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Your Password" } })
            @Html.ValidationMessageFor(user => user.confirmPassword)
        </div>
        <div class="form-group" style="width:50%;margin-left:17%">
            @Html.EditorFor(user => user.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Phone" } })
            @Html.ValidationMessageFor(user => user.Phone)
        </div>

        <div class="form-group" style="color : black;padding:10px;width:50%;margin-left:-22px">
            @Html.DropDownList("role", EnumHelper.GetSelectList(typeof(InternetApplicationProject.App_Code.UserRoles.userRole)), "User Type");
            @Html.ValidationMessageFor(user => user.role)
        </div>

        <div class="form-group" style="width:50%;margin-left:17%">
            @Html.EditorFor(user => user.job_description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your job_description" } })
            @Html.ValidationMessageFor(user => user.job_description)
        </div>

        <div class="m-t-lg" style="margin-left: -20%">
            <ul class="list-inline">
                <li>
                    <input class="btn btn--form" type="submit" value="Update" style="background-color:#007bff;width :200%;padding:15px;border-radius:10px;" />
                </li>
            </ul>
        </div>
        <br /><br />
    }
</div>
